*.log
.DS_Store
node_modules
dist
dist/*
!dist/wappsto-cli.esm.js

.wappsto-cli-cache/
manifest.json
wappsto.json
foreground
background
icon
coverage
old_ava
*~
\#*\#
.\#*
*.tgz
.vscode
package-lock.json